* {
    margin: 0;
    padding: 0;
}

/* colors */
:root {
    --blue: rgb(10, 133, 255);
    --bluegrad: linear-gradient(45deg,rgb(8, 59, 110) 0%, var(--blue) 100%); 
    --lightgrey: rgb(250, 250, 250);
    --darkgrey: rgb(35, 35, 35); 
}
/* scrollbar */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 75);    
    border-radius: 20px;       
}
/* preloader load */
.site {
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in;
    font-family: 'Noto Sans', sans-serif;
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
    background-color: rgb(2, 15, 26);
    color: white;  
    overflow: overlay;
}

a {
    text-decoration: none;
    color: white;
}
/* desktop Nav */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    z-index: 1000;
    transition: 0.3s;
}

.container {
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
    justify-content: space-between;
}

.nav-list-desktop {
    list-style: none;
    display: flex;
    height: 80px;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

.nav-list-desktop li {
    animation: fade-in-top25 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
}

.nav-list-desktop li:nth-child(1){
    animation-delay: 0.1s;
}

.nav-list-desktop li:nth-child(2){
    animation-delay: 0.2s;
}

.nav-list-desktop li:nth-child(3){
    animation-delay: 0.3s;
}
.nav-list-desktop li:nth-child(4){
    animation-delay: 0.4s;
}

@-webkit-keyframes fade-in-top25 {
    0% {
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-in-top25 {
    0% {
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

.nav-list-mobile {
    display: none;
}

.nav-list-desktop li {
    padding-left: 25px;
    padding-right: 10px;
}

/* about nav padding */
.nav-list-desktop li:first-child {
    padding-left: 10px;
}
/* link underline */
.nav-link::after {  
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--blue);
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.2s;
}
/* logo */
.logo-desktop {
    position: absolute;
    font-family: 'Inconsolata', monospace;
    font-size: 32px;
    padding: 5.5px 7.5px;
    background: var(--bluegrad);
    border-radius: 14px;
    margin-top: 14px;
    margin-left: 0;
}
/* logo transition */
.logo-desktop:hover {
    transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    transition: all 0.1s ease;
}

.logo-desktop:active {
    transform: translate(7px, 5px);
    -webkit-transform: translate(7px, 5px);
    transition: all 0.1s ease;
}

.logo-bg {
    color: transparent;
    padding: 5px 7px;
    width: 208px;
    height: 33px;
    background: var(--lightgrey);
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 7px;
}
/* start */
.card-container {
    display: flex; 
    justify-content: center;
    overflow: hidden;
    margin-top: 100px;
    /* border: red 1px solid; */
}

.card-container-title {
    margin-top: 85px;
}
/* start background */
.start-container{
    margin-top: 0;
    background: repeating-linear-gradient(45deg,rgb(34, 22, 68),rgb(34, 22, 68), rgb(6, 28, 100),rgb(34, 22, 68) 300vh);
    background-size: calc(300vh/0.707) 100%;
    height: 100vh;
    align-items: center;
    animation: gradient 7s linear infinite;
    -webkit-animation:  gradient 7s linear infinite;
}

@keyframes gradient {
    0% {
      background-position: calc(300vh/0.707) 0;
    }
}

.start {
    background: url(../img/pattern.svg), var(--lightgrey);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    margin: 12%;
    margin-top: 13%;
    margin-bottom: 20px;
    max-height: 540px;
    -webkit-animation: fade-in-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.45s both;
    animation: fade-in-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.45s both;
}

@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
  
/* width of text side */
.left {
    max-width: 59%;
}
/* start text */
.hi, .start-text {
    font-size: 2vw;
}

.hi {
    display: inline-block;
    background: var(--bluegrad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.75s both;
    animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.75s both;
}

.start-text {
    color: rgb(75, 75, 75);
    margin-top: 5px;
    margin-bottom: 1em;
	-webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
    animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
  
@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
  

/* icons */
.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
    font-size: calc(34px + 0.5vw);
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 16px;
    width: calc(206px + 2.05vw);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.animate {
    -webkit-animation: scale-in-center 0.3s ease-in-out 0.8s both;
    animation: scale-in-center 0.3s ease-in-out 0.8s both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}

.icons li {
    padding: 2.5px;
}

.icons li:not(:first-child) {
    margin-left: 22px;
}
/* icons hover animation */
.icons li:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.3s ease;
}
/* icons background hover animation */
/* .icons::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width:  calc(206px + 2.05vw);
    height: 100%;
    padding: 5px 10px;
    border-radius: 16px;
    opacity: 0;
    box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition:  opacity 0.3s ease-in-out;
} */

.icons:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.icons:hover::after {
    opacity: 1;
}
/* start image */
.start-pic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15px;
}

.start-pic img{ 
    box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
    border-radius: 16px;
    max-width: 100%;
    max-height: 100%;
}

.down-arrow {
    font-size: 26px;
    padding-top: 10px;
    margin-bottom: 10%;
    color: rgba(250, 250, 250, 0.4);
}

.down-arrow:hover {
    color: rgba(250, 250, 250, 0.7);
    transition: 0.3s;
}
/* about */
.about-title {
    font-size: 30px; 
    opacity: 0; 
    animation: fade-up 0.3s ease-in forwards 0.8s;
}

.about {
    background: linear-gradient(45deg,rgba(8, 59, 110, 0.35) 0%, rgba(10, 132, 255, 0.25) 100%);
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* window style */
.window-line {
    display: flex;
    height: 25px;
    padding-top: 10px;
    padding-left: 12px;
    border-bottom: 2px solid rgba(250, 250, 250, 0.5);
    color: rgba(250, 250, 250, 0.5);
    justify-content: space-between;
    font-family: 'Inconsolata', monospace;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(250, 250, 250, 0.5);
    margin-right: 5px;
}

.about-text {
    padding: 15px;
    max-width: 620px;
}
/* about-pic */
.about-pic {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: var(--darkgrey);
}

.about-pic img {
    padding-left: 5px;
    max-width: 285px;
    max-height: 330px;
}
/* interests */
.interests {
    height: 110px;
    margin: 0 20px;
}
/* interest icon color rgb(180, 84, 244) */
.interests-pill {
    display: flex;
    background-color: var(--darkgrey);
    border-radius: 40px;
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 14px;
    align-items: center;
}
/* last pill spaceing */
.last {
    margin-right: 0;
}

.interests-pill img {
    padding-right: 10px;
}
/* featured */
/* .featured {
    height: 300px;
    background-color: var(--darkgrey);
    border-radius: 16px;
}

.featured-text {
    display: flex;
    align-items: center;
} */
/* projects */
.projects-title {
    padding-bottom: 15px;     
    font-size: 30px; 
    opacity: 0; 
    animation: fade-up 0.3s ease-in forwards 0.8s; 
}

.title-text {
    width: 965px;
    padding-top: 10px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.85);

}

@keyframes fade-up {
    0% {
        transform: translateY(20px); 
        -webkit-transform: translateY(20px);
    } 100% {
        opacity: 1;
    }   
}

.projects {
    position: relative;
    display: grid;
    max-width: 980px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
}

.card {
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: var(--darkgrey); 
    overflow: hidden;
}

.card-1 {
    background: var(--bluegrad);
}

.card-2 {
    background: linear-gradient(45deg,rgb(36, 27, 61) 0%, rgb(76, 18, 137) 100%);
}

.card-3 {
    background: linear-gradient(45deg,rgb(34, 51, 37) 0%, rgb(40, 88, 51) 100%);
}


.heading {
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 5px;
    opacity: 0.7;
}

.title {
    padding-left: 12px;
    padding-bottom: 5px;
    font-size: 24px; 
}

.blur {
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.4);
    backdrop-filter: blur(30px);
}

.desc {
    font-size: 14px;
    padding: 12px;
}

.project-pic {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.project-pic img {
    max-width: 325px;
    max-height: 160px;
}

/* contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 960px;
    height: 230px;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
    border-radius: 16px;
    background: linear-gradient(45deg,rgb(34, 22, 68) 50%, rgb(6, 28, 100) 100%);
}
.contact-heading {
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 30px;
}
.contact-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.bottom-icons {
    background: rgba(75, 75, 75, 0.5);
    margin: auto;
    box-shadow: none; 
}
/* hide icon dropshadow */
.bottom-icons::after {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 24px;
}
/* footer */
.footer {
    padding-bottom: 10px;
}
.footer a:link {
    font-family: 'Inconsolata', monospace;
    padding: 15px; 
    opacity: 0.7;
    transition: 0.3s;
}
.footer a:link:hover {
    opacity: 0.85;
}