* {
    margin: 0;

}

.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-clr);
    height: 100%;
    width: 100%;
    z-index: 1001;
}

.logo-desktop2 {
    position: absolute;
    font-size: 38px;
    padding: 7px 8px;
    background: linear-gradient(45deg,rgb(8, 59, 110) 0%, var(--blue) 100%);
    border-radius: 18px;
    z-index: 1002;
    margin-bottom: 14px;
    margin-right: 14px;
    opacity: 0;
    -webkit-animation: move-up 0.5s forwards press 0.2s forwards 0.6s;
    animation: move-up 0.5s forwards, press 0.2s forwards 0.6s;

}

.logo-bg2 {
    position: fixed;
    color: transparent;
    padding: 6px 8px;
    width: 247px;
    height: 40px;
    background: var(--lightgrey);
    border-radius: 18px;
    z-index: 1001;
    opacity: 0;
    -webkit-animation: move-up 0.5s forwards;
    animation: move-up 0.5s forwards;
}

@keyframes move-up {
    50% {
        opacity: 1;
        -webkit-transform:  translateY(-170px); 
        transform: translateY(-170px); 
    } 100% {
        opacity: 1;
        -webkit-transform: translateY(-150px);   
        transform: translateY(-150px);
    }
}

@keyframes press { 
    50% {
        margin: 0;
    } 100% {
        margin-bottom: 14px;
        margin-right: 14px;
    }
}

@-webkit-keyframes press { 
    50% {
        margin: 0;
    } 100% {
        margin-bottom: 14px;
        margin-right: 14px;
    }
}
